################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReleaseNotes/v15/.suo
/.vs/relnot_server/v15/.suo
/.vs
