################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################ 

/.vs/ReleaseNotes/v15/.suo
/.vs/relnot_server/v15/.suo
/.vs
/bin
/obj
/obj/Debug
obj/Debug
/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1/WebApi.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp2.1/WebApi.pdb
*.dll
/obj/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1/WebApi.assets.cache
/obj/Debug/netcoreapp2.1/WebApi.csproj.CoreCompileInputs.cache
*.cache